<mat-toolbar color="primary">
  <span>Angular basic components</span>
</mat-toolbar>

<nav>
  <ul>
    <li><a routerLink="/lifecycle">Lifecycle</a></li>
    <li><a routerLink="/data-binding">Data binding</a></li>
    <li><a routerLink="/structural">Structural</a></li>
    <li><a routerLink="/content">Content</a></li>
    <li><a routerLink="/template">Template</a></li>
    <li><a routerLink="/reactive">Reactive</a></li>
    <li><a routerLink="/service">Service</a></li>
    <li><a routerLink="/rxjs">Rxjs</a></li>
    <li><a routerLink="/util">Util</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>